.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.2);
  z-index: 100;
}

.modal-data {
  z-index: 101;
  height: 500px;
  width: 700px;
  max-width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background: white;
  box-shadow: 0 10px 10px rgba(70, 67, 67, 0.2);
}

.title {
  font-size: 24px;
  padding-top: 35px;
  padding-bottom: 15px;
  padding-left: 40px;
  font-weight: 500;
}

.modal-buttons {
  position: absolute;
  width: 100%;
  bottom: 0;
  display: flex;
}

.modal-buttons .button {
  flex: 1;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  transition: 0.4s;
  font-weight: 600;
}

.modal-buttons .button.active {
  background: #303e9f;
  color: white;
}

.modal-buttons .button.active:hover {
  background: #303e9f;
  opacity: .8;
}

.datepicker {
  outline: none;
  border-radius: 15px;
  font-size: 12px;
  padding: 5px 10px;
}

.form-input {
  width: 100%;
  background: rgb(244,246,248);
  border: 1px solid rgb(240,242,244);
  border-radius: 7px;
  padding: 10px 15px;
  box-sizing: border-box;
  margin-top: 5px;
  outline: none;
  resize: none;
}

.content {
  padding: 30px;
}

.schedule-list {
  overflow-y: auto;
  height: 360px;
}

.schedule-list .text {
  text-align: center;
  margin-top: 30px;
}

.schedule-list-item {
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  padding: 15px 20px;
  border-radius: 5px;
  margin-top: 7px;
  cursor: pointer;
  border: 1px solid #DADADA;
  overflow: hidden;
  transition: .4s;
  max-height: 250px;
}

.schedule-list-item .card {
  position: relative;
}

.check {
  background: url('../../../assets/images/check.svg') no-repeat;
  position: absolute;
  height: 20px;
  width: 20px;
  background-size: contain;
  top: 0;
  right: 0;
}

.schedule-list-item.hide {
  max-height: 20px;
}

.schedule-list-item:hover {
  background: #f2f2f2;
}

.details {
  padding-top: 10px;
}

.detail-item {
  display: flex;
  margin-top: 10px;
}

.detail-item.buttons {
  justify-content: center;
}

.detail-item .button {
  background: #303e9f;
  color: white;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  transition: 0.4s;
  font-weight: 600;
  width: 50%;
  margin: 5px;
  transition: .4s;
}

.detail-item .button.remove {
  background: #c62828;
}

.detail-item .button:hover {
  opacity: 0.8;
}
