<div class="modal-overlay"></div>
<div class="modal-data">
  <div class="content">
    <label>Data de agendamento</label>
    <input class="form-input" [matDatepicker]="datepicker" (click)="datepicker.open()" [(ngModel)]="date" readonly (ngModelChange)="loadHours()"/>
    <mat-datepicker #datepicker></mat-datepicker>

    <div class="schedule-list">
      <div class="text" *ngIf="loading">Carregando...</div>
      <div class="text" *ngIf="!loading && scheduledDates.length == 0">Não há agendamentos para esse dia</div>
      <div class="schedule-list-item" *ngFor="let item of scheduledDates" (click)="item.active = !item.active" [class.hide]="!item.active">
        <div class="card">
          <strong>{{ item.hour }}</strong> - {{ item.name }}
          <div class="check" *ngIf="item.confirmed"></div>
        </div>
        <div class="details">
          <div class="detail-item">
            <strong>Data e hora:&nbsp;</strong>{{ item.date | date: 'dd/MM/yyyy' }} {{ item.hour }}
          </div>
          <div class="detail-item">
            <strong>Cliente:&nbsp;</strong>{{ item.name }}
          </div>
          <div class="detail-item">
            <strong>Mensagem:&nbsp;</strong>{{ item.message }}
          </div>
          <div class="detail-item buttons">
            <div class="button" (click)="confirmSchedule($event, item)" *ngIf="!item.confirmed">Confirmar Agendamento</div>
            <div class="button remove" (click)="cancelSchedule($event, item)">Cancelar Agendamento</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-buttons">
    <div class="button"></div>
    <div class="button active" (click)="showModalChange.emit(false)">Fechar</div>
  </div>

</div>
