<div class="contato-container">
  <img class="img img-fluid" src="assets/images/1.png" alt="" (click)="triggerAdmin()">
  <div class="contato-mobile">
    <div class="title">Fale conosco</div>
    <div class="line mt-3"></div>
    <a href="https://api.whatsapp.com/send?phone=5519996382323" class="subtitle mt-5">
      <div class="whatsapp" [style.backgroundImage]="'url(assets/images/whatsapp.png)'"></div>
      (19) 99638-2323
    </a>
    <div class="txt mt-2"><a href="climarc@outlook.com.br">climarc@outlook.com.br</a></div>
    <div class="schedule-button" (click)="showModalChange.emit(true)">AGENDE UMA VISITA</div>
  </div>
</div>
