.external-systems-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 358px;
}

.title {
    color: #FFFFFF;
    line-height: 29px;
    font-size: 24px;
    font-family: open-sans, sans-serif;
    font-weight: 400;
}

.txt {
    width: 358px;
    background-color: transparent;
    text-align: center;
    line-height: 17px;
    font-size: 14px;
    color: #FFFFFF;
    font-family: open-sans, sans-serif;
    font-weight: 300;
    white-space: pre-line;
}

.btn {
    width: 99px;
    height: 34px;
    border-style: solid;
    border-width: 1px;
    border-color: #FFFFFF;
    background-color: #FFFFFF;
    border-radius: 50px;
    color: #303e9f;
    text-align: center;
    font-size: 13px;
    font-family: open-sans, sans-serif;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    background-color: #303e9f;
    color: white;
}

.img {
    border-radius: 15px;
}

@media only screen and (max-width: 480px){
    .txt {
        width: 300px;
    }
}
