<div class="produtos-container">
    <app-external-systems class="component"
        fileName="ar1.png"
        title="Split"
        txt="Residencias e ambientes pequenos">
    </app-external-systems>

    <app-external-systems class="component component-mobile"
        fileName="ar1.png"
        title="Split Piso-Teto"
        txt="Galpões e salas maiores">
    </app-external-systems>

    <app-external-systems class="component component-mobile"
        fileName="ar1.png"
        title="Split Cassete"
        txt="Ambientes maiores">
    </app-external-systems>
</div>

<div class="header-banner-container">
    <app-header-banner
    title="Serviços"
    subtitle="Equipe qualificada e experiente pronta para te atender"
    fileName="3.png">
    </app-header-banner>
</div>

<div class="features-container">
  <app-features-box
      title="Missão"
      txt="Satisfazer a necessidade do cliente da melhor forma, garantindo excelência no serviço prestado">
  </app-features-box>
  <app-features-box
      title="Visão"
      txt="Ser a empresa de refrigeração mais admirada pela excêlencia e qualidade dos serviços prestados">
  </app-features-box>
  <app-features-box
      title="Valores"
      txt="Segurança, Qualidade, Honestidade, Eficiência e Responsabilidade">
  </app-features-box>
</div>

