<div class="features-container" id="sobre-ancora">
  <app-features-box
      title="Proteção"
      txt="Camada dupla de tecido, garantindo maior eficiência e proteção">
  </app-features-box>
  <app-features-box
      title="Conforto"
      txt="É possível ajustar o tamanho do elástico internamente, garantindo conforto na utilização da máscara">
  </app-features-box>
  <app-features-box
      title="Abertura"
      txt="As máscaras contam com uma abertura inferior, permitindo a inserção de filtros para maior segurança">
  </app-features-box>
</div>

<div class="products" id="mascaras-ancora">
  <div class="product" *ngFor="let product of products">
    <div class="image" [style.backgroundImage]="'url(https://firebasestorage.googleapis.com/v0/b/venda-mascaras.appspot.com/o/' + product.id + '.jpg?alt=media)'"></div>
    <div class="name">{{ product.data?.name }}</div>
  </div>
</div>
