.produtos-container {
    background-color: #303e9f;
    display: flex;
    align-self: center;
    justify-content: space-around;
    margin: 0 -9999rem;
    padding: 0.25rem 9999rem;
    margin-top: 110px;
    padding-bottom: 35px;
    height: 210px;
}

.component {
    margin-top: -36px;
}

.features-container {
    margin-top: 90px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
}

.navigator {
  color: white;
  font-size: 40px;
  position: relative;
  top: 70px;
  cursor: pointer;
  transition: 0.4s;
}

.navigator:hover {
  opacity: 0.6;
}

.navigator.disabled {
  cursor: auto;
  opacity: 0.2;
}

.products {
  display: flex;
  flex-wrap: wrap;
  margin: 10px 0;
  margin-top: 140px;
}

.product {
  flex: 1 0 32%; /* explanation below */
  height: 350px;
  margin: 5px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.product .image {
  width: calc(100% - 20px);
  height: calc(100% - 50px);
  margin: 10px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.product .name {
  text-align: center;
  font-weight: 500;
}

@media only screen and (max-width: 576px){
  .product {
    flex: 1 0 100%; /* explanation below */
  }

  .products {
    padding-right: 40px;
  }
}

.header-banner-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 90px;
}

.title {
  color: rgb(40,40,40);
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  font-weight: 300;
  line-height: 24px;
}

.subtitle {
  color: #282828;
  font-size: 44px;
  line-height: 44px;
  width: 350px;
}

.line {
  width: 100px;
  height: 2px;
  background-color: #0097d3;
}

@media only screen and (max-width: 480px){
  .header-banner-container {
     display: flex;
     flex-direction: column;
     align-items: center;
  }

  .img {
      order: -1;
  }

  .title {
      font-size: 18px;
  }

  .subtitle {
      width: 300px;
      font-size: 28px;
  }
}
