.sticky {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 1110px;
    box-sizing: content-box;
    margin-left: -1000px;
    padding-left: 1000px;
    margin-right: -1000px;
    padding-right: 1000px;
}

.stick-background {
    position: fixed;
    top: 0;
    z-index: 100;
    width: 1110px;
    box-sizing: content-box;
    margin-left: -1000px;
    padding-left: 1000px;
    margin-right: -1000px;
    padding-right: 1000px;
    background-color: white;
}

.anchor {
    margin-top: -100px;
    padding: 100px;
}
