<div class="header-container">
  <img class="img img-fluid" src="assets/images/logo.png" alt="logo Climarc">
  <div class="menu-item-txt mr-5"><a [ngxScrollTo]="'#home-ancora'" [ngxScrollToDuration]="1000">Início</a></div>
  <div class="menu-item-txt mr-5"><a [ngxScrollTo]="'#produtos-ancora'" [ngxScrollToOffset]="-50" [ngxScrollToDuration]="1000">Equipamentos</a></div>
  <div class="menu-item-txt mr-5"><a [ngxScrollTo]="'#sobre-ancora'" [ngxScrollToOffset]="-100" [ngxScrollToDuration]="1000">Sobre</a></div>
  <div class="menu-item-txt mr-5"><a [ngxScrollTo]="'#contato-ancora'" [ngxScrollToOffset]="-50" [ngxScrollToDuration]="1000">Contato</a></div>
</div>
