<div class="header-container">
  <img class="img img-fluid" src="assets/images/logo.png" alt="logo Climarc">
  <div class="menu-item-txt mr-5"><a [ngx-scroll-to]="'#home-ancora'" [ngx-scroll-to-duration]="1000">Início</a></div>
  <div class="menu-item-txt mr-5"><a [ngx-scroll-to]="'#produtos-ancora'" [ngx-scroll-to-offset]="-50" [ngx-scroll-to-duration]="1000">Equipamentos</a></div>
  <div class="menu-item-txt mr-5"><a [ngx-scroll-to]="'#sobre-ancora'" [ngx-scroll-to-offset]="-100" [ngx-scroll-to-duration]="1000">Sobre</a></div>
  <div class="menu-item-txt mr-5"><a [ngx-scroll-to]="'#contato-ancora'" [ngx-scroll-to-offset]="-50" [ngx-scroll-to-duration]="1000">Contato</a></div>
</div>
