:host {
  flex: 1;
  margin: 5px;
}

.feature-box-container {
    height: 180px;
    background-color: white;
    padding: 35px;
}

.title {
    text-transform: uppercase;
    line-height: 16px;
    font-size: 16px;
    color: #282828;
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
}

.txt {
    font-size: 14px;
    line-height: 17px;
    color: #282828;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    white-space: pre-line;
}

.line {
    width: 100px;
    height: 2px;
    background-color: #0097d3;
}


@media only screen and (max-width: 1024px) {
  .feature-box-container {
      min-height: 200px;
  }
}
