<div class="modal-overlay"></div>
<div class="modal-data">
  <div class="title">Agende seu horário</div>

  <form [formGroup]="form">
    <div class="form-line">
      <div class="form-item">
        <label>Nome</label>
        <input class="form-input" maxlength="255" formControlName="name" />
      </div>
      <div class="form-item">
        <label>Telefone</label>
        <input class="form-input" maxlength="20" formControlName="phone" />
      </div>
    </div>

    <div class="form-line">
      <div class="form-item">
        <label>Mensagem</label>
        <textarea class="form-input" maxlength="1024" formControlName="message"></textarea>
      </div>
    </div>

    <div class="form-line">
      <div class="form-item">
        <label>Email</label>
        <input class="form-input" maxlength="20" formControlName="email" />
      </div>
      <div class="form-item">
        <label>Data da visita</label>
        <input class="form-input" [matDatepicker]="datepicker" (click)="datepicker.open()" formControlName="date" [value]="date.value" readonly (ngModelChange)="loadHours()"/>
        <mat-datepicker #datepicker></mat-datepicker>
      </div>
    </div>

    <div class="form-line">
      <div class="form-item">
        <label>
          Horário
          <span style="color: red" *ngIf="hour.touched && hour.hasError('required')">&nbsp;*</span>
        </label>
        <div class="hours" *ngIf="!loading">
          <div class="hour-item" *ngFor="let h of hours" [class.disabled]="isUnavailable(h)" [class.active]="hour.value == h" (click)="selectHour(h)">{{ h }}</div>
        </div>
        <div class="hours" *ngIf="loading">
          Carregando...
        </div>
      </div>
    </div>

    <div class="modal-buttons">
      <div class="button" (click)="showModalChange.emit(false)">Cancelar</div>
      <div class="button active" (click)="onSubmit()">Agendar</div>
    </div>
  </form>


</div>
